<!DOCTYPE html>

<html>

<head>

	<title>minecraft Private Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/logo.png" alt="minecraftlogo" width="100%" />
				
				<!-- add width="100%" to above source to make it responsive -->

				<h2 id="chat"><span>Secret</span> fan chat rooms!</h2>
				<p class="hometext">Want to chat strategies? Build together? Laugh together? Hop into a chat room with your Minecraft buddy!</p>
			</div>


			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

		</div>

	</section>

</body>
</html>
